*.class
/java/p1/nbproject/private/
/java/p1/build/
/java/p2/nbproject/private/
/java/p2/build/
/java/p2/dist/
/java/p3/nbproject/private/
/java/p3/build/
/java/p4/nbproject/private/
/java/p4/build/
/java/p5/nbproject/private/
/java/p5/build/
/java/p6/nbproject/private/
/java/p6/build/
/java/p7/nbproject/private/
/java/p7/build/
/java/p8/nbproject/private/
/java/p8/build/
/java/src/p8/build/
/java/src/p8/nbproject/private/
/java/p9/nbproject/private/
/java/p9/build/
/java/p9/dist/
/java/p10/nbproject/private/
/java/p10/build/
